@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @theme {
    --font-sans: 'M PLUS 1', 'Roboto','Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

:root {
  --font-sans: 'M PLUS 1', 'Roboto', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body {
  font-family: var(--font-sans);
  color: #595D61;
}


h1{
  font-size:56px;
  color: #0D0F11;
}
h2{
  font-size:48px;
  color: #0D0F11;
}
h3{
  font-size:36px;
  color: #3A3F44;
}
h4{
  font-size:24px;
  color: #3A3F44;
}
h5{
  font-size:18px;
}
h6{
  font-size:16px;
  color: #96999B;
}
/* Tablet */
@media (max-width: 1023px) {
  h1 { font-size: 40px; }
  h2 { font-size: 34px; }
  h3 { font-size: 26px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }
}
/* Mobile */
@media (max-width: 767px) {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 22px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }
}